const path = require ('path)

module.exports = {
    "config": path.resolve('./config', 'config.js'),
    "modules-path": path.resolve('./nodejs'),
    "seeders-path": path.resolve('./seeders'),
    "migrations-path": path.resolve('./migrations')
}